*.csv
*.tsv
*.parquet
*.dat
*.bin
*.xls
*.xlsx
*.rds
*.pickle
*.nc
!cfa/stf/forecasttools/data/us_location_pop.csv
!tests/cfa/stf/forecasttools/test_data/test_idata.nc

__pycache__/
*.py[cod]
*$py.class
.Python
build/
dist/
*.egg-info/
.venv/
.uv-cache/
.pytest_cache/
.ruff_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/
.ipynb_checkpoints/
.vscode/
.DS_Store
