###############################################################################
# OVERVIEW
###############################################################################
# Note that some of the comments below may come from their respective
# documentation sources.
#
# Links:
#
# Pre-commit: https://pre-commit.com/
# Supported hooks: https://github.com/pre-commit/pre-commit-hooks
# Ruff Linter rules: https://docs.astral.sh/ruff/rules/
# Ruff formatter overview: https://docs.astral.sh/ruff/formatter/#line-breaks
# Ruff-Black deviations:
# https://docs.astral.sh/ruff/formatter/black/#line-width-vs-line-length
# Ruff settings: https://docs.astral.sh/ruff/settings/#unsafe-fixes
###############################################################################
# CONTINUOUS INTEGRATION
###############################################################################
ci:
  # custom commit message for PR autofixes
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks
    for more information, see https://pre-commit.ci
  # whether to autofix pull requests. when disabled, comment / label
  # "pre-commit.ci autofix" to a pull request to manually trigger
  # auto-fixing.
  autofix_prs: true
  # branch to send autoupdate PRs to; by default, pre-commit.ci will update
  # the default branch of the repository.
  autoupdate_branch: ""
  # custom commit message for autoupdate PRs.
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  # control when the autoupdate runs, possible values: 'weekly',
  # 'monthly', 'quarterly'.
  autoupdate_schedule: weekly
  # a list of hook ids to skip only in pre-commit.ci;
  skip: []
  #  whether to recursively check out submodules
  submodules: false
###############################################################################
# GENERAL
###############################################################################
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # prevent giant files from being committed.
      - id: check-added-large-files
        args: ["--maxkb=10000"]
      # simply check whether files parse as valid
      # python
      - id: check-ast
      # check for files with names that would
      # conflict on a case-insensitive filesystem
      # like MacOS HFS+ or Windows FAT.
      - id: check-case-conflict
      # checks for a common error of placing
      # code before the docstring.
      - id: check-docstring-first
      # attempts to load all yaml files to
      # verify syntax.
      - id: check-yaml
        # allow yaml files which use the
        # multi-document syntax
        args: ["--allow-multiple-documents"]
      # attempts to load all TOML files to
      # verify syntax.
      - id: check-toml
      # makes sure files end in a newline and
      # only a newline.
      - id: end-of-file-fixer
      # replaces or checks mixed line ending.
      - id: mixed-line-ending
      # verifies that test files are named
      # correctly.
      - id: name-tests-test
        # ensure tests match test_.*\.py
        args: ["--pytest-test-first"]
      # trims trailing whitespace.
      - id: trailing-whitespace
      # checks that non-binary executables have
      # a proper shebang.
      - id: check-executables-have-shebangs
        files: \.sh$
      # checks for the existence of private keys.
      - id: detect-private-key
  ###############################################################################
  # PYTHON
  ###############################################################################
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      # Sort imports
      - id: ruff-check
      # Run the formatter
      - id: ruff-format
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.11
    hooks:
      - id: uv-lock
  ###############################################################################
  # SECURITY
  ###############################################################################
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      # must first run
      # detect-secrets scan > .secrets.baseline
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
        exclude: package.lock.json
  ###############################################################################
  # GITHUB ACTIONS
  ###############################################################################
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint
  ###############################################################################
  # SPELLING
  ###############################################################################
  - repo: https://github.com/crate-ci/typos
    rev: v1
    hooks:
      - id: typos
        args: ["--force-exclude"]
  ###############################################################################
  # COMMIT MESSAGES
  ###############################################################################
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0
    hooks:
      - id: commitizen
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
###############################################################################
