[project]
name = "forecasttools"
version = "0.0.1"
description = "Python package for common pre- and post-processing operations done by CFA Predict for short term forecasting, nowcasting, and scenario modeling."
authors = [
    {name = "CFA"}
]
license = "Apache-2.0"
readme = "README.md"
requires-python = ">=3.13"
keywords = ["forecasting", "infrastructure", "infectious-disease-modeling", "python"]
dependencies = [
    "arviz<1.0.0",
    "polars>=1.8.2",
    "xarray>=2024.9.0",
    "matplotlib>=3.9.2",
    "epiweeks>=2.3.0",
    "numpyro>=0.17.0",
    "numpy>=2.2.2",
    "tqdm>=4.67.1",
    "cfasodapy",
    "jax>=0.6.2",
    "scipy>=1.16.0",
    "pyarrow>=21.0.0",
]

[project.optional-dependencies]
dev = [
    "ipykernel>=6.29.5",
    "diffrax>=0.6.0",
    "patsy>=0.5.6",
    "nbformat>=5.10.4",
    "nbclient>=0.10.0",
    "jupyter>=1.1.1",
    "jupyter-cache>=1.0.1",
]
test = [
    "pytest>=8.3.3",
]

[project.urls]
Repository = "https://github.com/CDCgov/forecasttools-py/"
"Repository Issues" = "https://github.com/CDCgov/forecasttools-py/issues"
"CDCgov Repositories" = "https://github.com/CDCgov"
"Package That Will Use Forecasttools" = "https://github.com/CDCgov/pyrenew-hew"
"Poetry Pyproject Page" = "https://python-poetry.org/docs/pyproject/"

[tool.ruff.lint.mccabe]
max-complexity = 15

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["forecasttools"]
include = [
    "forecasttools/*.parquet",
    "forecasttools/*.nc",
]

[tool.uv.sources]
cfasodapy = { git = "https://github.com/CDCgov/cfasodapy.git" }

[tool.deptry]
known_first_party = ["forecasttools"]
pep621_dev_dependency_groups = ["dev", "test"]

[tool.deptry.per_rule_ignores]
DEP002 = ["pyarrow"]

[tool.ruff]
fix = true

[tool.ruff.lint]
select = ["I", "E4", "E7", "E9", "F"]
