name: render-readme

on:
  pull_request:
  push:
    branches: [main]

jobs:
  render-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: install package and dependencies
        run: |
            uv sync --all-extras
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
      - name: Install packages
        run: uv sync --extra dev
      - name: Render README
        run: uv run bash scripts/render-quarto-readme.sh
